.btn-language {
    height: 50px;
    width: 50px;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: transparent;  
    margin: 10px;   
}

.btn-language:hover{
    cursor: pointer;
}